/*全局样式表*/
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {

  text-decoration: none;
}

ul, li, ol {
  list-style: none;
}

.spacial {
  transform-origin: center top;
  animation: my-scale .5s ease .2s;
  /*transition: all ;*/
}

@keyframes my-scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.dark,.dark:hover,.dark:focus {
  --darkbgColor: #353535;
  color: #a19d9d;
  border: 1px solid var(--darkbgColor);
  background-color: var(--darkbgColor);
  transition: all .5s ease-out;

}

.light,.light:hover,.light:focus  {
  --ligthbgColor: #ffffff;
  color: #666;
  border: 1px solid var(--ligthbgColor);
  background-color: var(--ligthbgColor);
  transition: all .5s ease-out;

}
